<div class="form-group">
  <div class="label-container">
    <label class="label">
      {{ label }}
      <span *ngIf="isRequired">*</span>
    </label>
    <button
      *ngIf="tooltip"
      mat-icon-button
      type="button"
      class="info-button"
      [matTooltip]="tooltip"
      matTooltipPosition="above"
    >
      <mat-icon fontIcon="info"></mat-icon>
    </button>
  </div>

  <mat-select
    class="form-control"
    [class.is-invalid]="formControl.invalid"
    panelClass="dropdown-panel"
    [placeholder]="placeholder"
    [formControl]="formControl"
    [multiple]="multiple"
  >
    <mat-option *ngFor="let option of options" [value]="option.value" [class.as-per-contract-option]="isAsPerContractOption(option)">
      <div>
        {{ option.name }}
      </div>
      <div *ngIf="isAsPerContractOption(option)">
        <app-date (click)="$event.stopPropagation()" [(ngModel)]="option.value.date"></app-date>
      </div>
    </mat-option>
  </mat-select>
</div>
