$cutom-secondary-color: #554f41; // $cutom-secondary-color: #6c757d; --old value
$cutom-orange: #f36633;
$cutom-teal: #15717d;
$cutom-light-grey-bg: #efefed; //#f0efed
$cutom-dark-grey-border: rgba(74,74,74,0.5);
$cutom-header-background: #F7F7F7;
$cutom-background : linear-gradient(45deg, #006B77 0%, #00B4CD 100%);
$cutom-white : #ffffff;
$cutom-grey: #EFEFED;
$cutom-new-orange: #FF881A;
$cutom-font-colour:#544F40;
$WhiteColorFont: #fff;
$YellowColor:#ffff00;

$cutom-secondary-color: #554f41; // $cutom-secondary-color: #6c757d; --old value
$cutom-orange: #f36633;
$cutom-teal: #15717d;
$cutom-light-grey-bg: #efefed; //#f0efed
$cutom-dark-grey-border: rgba(74,74,74,0.5);
$cutom-header-background: #F7F7F7;
$cutom-background : linear-gradient(45deg, #006B77 0%, #00B4CD 100%);
$cutom-white : #ffffff;
$cutom-grey: #EFEFED;
$cutom-new-orange: #FF881A;
$cutom-font-colour:#544F40;
$cutom-border-colour:#d8d8d8;
$cutom-primary-colour: #0e707d;
$cutom-error-colour: #dc3545;
$cutom-input-text-colour: #2b2b2a;

$cutom-border-shadow-light: 0px 0px 7px 2px rgba(0, 0, 0, .08);
$cutom-border-light: #e2e2e2;