@import '../../../styles/color.scss';

:host {
  display: block;
  height: 100%;
}

.content {
  height: 100%;
  padding: 55px 0 28px;
}

.inner-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 30px;
}

.page-content {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  background-color: $cutom-white;


  .page-body {
    flex: auto;
    min-height: calc(100vh - 55px - 28px);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
