<div class="content">
  <div class="inner-content">
    <app-header></app-header>
    <main class="page-content">
      <div class="page-body">
        <h1>HOME PAGE</h1>
        <nav>
          <ul>
            <li>
              <a [routerLink]="['ddf-request-form']">DDF Request Form</a>
            </li>
            <li>
              <a [routerLink]="['manage-request']">Manage Request</a>
            </li>
          </ul>
        </nav>
      </div>
    </main>
    <app-footer></app-footer>
  </div>
</div>
