@import '../../../../../styles/color.scss';
@import '../../../../../styles/element.styles.scss';

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  input {
    font-family: inherit;

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 100%;
    height: auto;
    min-width: 0;
    padding: .1875rem 0 .1875rem .75rem;

    outline: none;
    appearance: none;
    cursor: pointer;

  }

  .mat-datepicker-toggle {
    margin-left: auto;
    z-index: 1;
  }
}

.form-control {
  padding: 0;
}
