<div class="form-group">
  <div class="label-container">
    <label class="label">
      {{ label }}
      <span *ngIf="isRequired">*</span>
    </label>
    <button
      *ngIf="tooltip"
      mat-icon-button
      type="button"
      class="info-button"
      [matTooltip]="tooltip"
      matTooltipPosition="above"
    >
      <mat-icon fontIcon="info"></mat-icon>
    </button>
  </div>

  <div class="radio-container" [class.is-invalid]="formControl.invalid">
    <mat-radio-group aria-label="Select an option" [formControl]="formControl">
      <mat-radio-button
        *ngFor="let option of options"
        [value]="option.value"
      >
        {{ option.name }}
        <button
          *ngIf="option.tooltip"
          mat-icon-button
          type="button"
          class="info-button"
          [matTooltip]="option.tooltip"
          matTooltipPosition="above"
        >
          <mat-icon fontIcon="info"></mat-icon>
        </button>
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
