@import '../../../../../styles/color.scss';
@import '../../../../../styles/element.styles.scss';

.form-control {
  display: block;
  padding: 0;

  ::ng-deep {
    .mat-mdc-select-trigger {
      height: 100%;

      .mat-mdc-select-value {
        padding: 0 .75rem;
        font-size: 1.6rem;
      }

      .mat-mdc-select-arrow-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;

        .mat-mdc-select-arrow {
          width: auto;
          height: auto;

          &::before {
            content: '\e313';
            font-family: 'Material Icons';
            font-size: 24px;
            display: block;
          }

          svg {
            display: none;
          }
        }
      }
    }
  }
}


::ng-deep.seachable-dropdown-panel {
  margin-top: 1px;
  margin-bottom: 1px;

  .seachable-dropdown-search-box {
    .mat-mdc-optgroup-label,
    .mdc-list-item__primary-text {
        display: block;

        mat-form-field {
          display: block;
        }
    }
  }
}
