$LightSeaGreen:#15717d;
$WhiteColorFont:#ffffff;
$BlackColorFont:#000000;
$DarkTeal:#004650;
$YellowColor:#ffff00;
$BlueInkColor:#32105c;
$GreyColor:#eeeeee;
$HomeScreenSearchBtn: #00b4cd;
$HomeScreenTextColor: #007f8e;
$CardsBackground: #f9f9f9;
$SubTextColor: gray;

