<nav class="navbar navbar-light header-container">
    <div class="float-right">
        <div class="navbar-brand" *ngIf="urls">
            <button mat-button class="quicklinks cl-white" [matMenuTriggerFor]="quickLinkMenu">
                <mat-icon fontIcon="bolt" class="button-icon"></mat-icon>
                Quick Links
            </button>
            <mat-menu #quickLinkMenu="matMenu">
                <ul class="cutom-font-colour m-0 quick_links_font">
                    <div class="font-weight-bold"><li>DDF</li></div>
                    <li class="dotnone"><a href="{{windowOrigin+urls[0]}}">View All Domains</a></li>
                    <!--<li class="dotnone"><a href="{{newNameSpaceOrigin+urls[5]}}">My Domains</a></li>-->
                    <li class="dotnone"><a href="{{windowOrigin+urls[6]}}">Register New Domain</a></li>
                    <li class="dotnone"><a href="{{urls[7]}}" target="_blank">DDF Request Form</a></li>
                 </ul>
                <ul class="cutom-font-colour m-0 quick_links_font">
                    <div class="font-weight-bold"><li>SSDR</li></div>
                    <li class="dotnone"><a href="{{oldNameSpace+urls[2]}}">Study Catalog</a></li>
                    <li class="dotnone"><a href="{{oldNameSpace+urls[3]}}">Launch Data Reuse Request</a></li>
                    <li class="dotnone"><a href="{{oldNameSpace+urls[3]}}">My DRR Requests</a></li>
                </ul>
            </mat-menu>

            <button mat-button class="quicklinks cl-white">
                <mat-icon fontIcon="question_mark" class="button-icon"></mat-icon>
                Help
            </button>
            <button mat-button class="quicklinks cl-white">
                Peter Greg
                <img width="30" height="30" class="rounded-5" src="../../assets/image.png" alt="" srcset="">
            </button>
        </div>
    </div>
</nav>
